<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../partials/cabecalho.ejs"); %>
</head>
<body>
    <div class="container">
        <h2><%= auxiliar._id? "Atualizar": "Cadastrar"%> Auxiliar</h2>
        <form action="<%= auxiliar._id? "/auxiliares/atualizar": "/auxiliares"%>" method="post">
            <input type="hidden" name="id" value="<%=auxiliar._id%>">
            <div><label class="form-label" for="cod">Codigo: </label> <input class="form-control" type="number" id="cod" name="cod" value="<%=auxiliar.cod%>" required></div>
            <div><label class="form-label" for="nome">Nome: </label> <input class="form-control" type="text" id="nome" name="nome" value="<%=auxiliar.nome%>" required></div>
            <div><label class="form-label" for="setor">Setor: </label> <input class="form-control" type="text" id="setor" name="setor" value="<%=auxiliar.setor%>" required></div><br>
            <button type="submit" class="btn btn-success"><%= auxiliar._id? "Atualizar": "Salvar"%></button>
            <a href="/" class="btn btn-primary">Voltar</a>
        </form>
    </div>
    <%- include("../partials/rodape.ejs"); %>
</body>
</html>
