<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../partials/cabecalho.ejs"); %>
</head>
<body>
    <div class="container">
        <% if(auxiliar==undefined){%>
            <div>Não há auxiliar com esse codigo</div>
        <%}else{%>
            <div>Codigo: <%=auxiliar.cod%></div>
            <div>Nome: <%=auxiliar.nome%></div>
            <div>Curso: <%=auxiliar.setor%></div>
        <%} %>
        <br><a href="/auxiliares"  class="btn btn-primary">Voltar</a>
    </div>
    <%- include("../partials/rodape.ejs"); %>
</body>
</html>
